################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Prakrishta.DataMapper
/.vs/Prakrishta.DataMapper/v16
/.vs
